.one,.two{
  display: flex;
  gap: 100px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

input{
  border-radius: 40px;
background: #e4dddd;
box-shadow:  20px 20px 60px #c2bcbc,
             -20px -20px 60px #fffefe;
width: 40vw;
height: 20vh;
border: none;
margin-left: 15vw;
margin-top: 10vh;
margin-bottom: 10vh;
padding-left: 5vw;
font-size: 10vh;
}

button img{
  height: 10vh;

}

button{
  border: none;
  border-radius: 40px;
background: #e4dddd;
box-shadow:  20px 20px 60px #c2bcbc,
             -20px -20px 60px #fffefe;
             height: 20vh;
             width: 20vh;
             align-self: center;
}

.App{
  width: 100vw;
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: space-evenly;
}

.two button, .two input{
  border-radius: 10vh;
}

.three, .four{
  border: none;
  margin-left: 15vw;
  margin-bottom: 20vh;
  border-radius: 40px;
background: #e4dddd;
box-shadow:  20px 20px 60px #c2bcbc,
             -20px -20px 60px #fffefe;
             width: 54.5vw;
             display: flex;
}

.three input, .four input{
  margin: 0;
  border: none;
  box-shadow: none;
}

.three button, .four button{
  border: none;
  box-shadow: none;
}

.four, .four input, .four button{
  border-radius: 10vh;
}

input:focus{
  background-color: lightgray;
  border: none;
}

button:hover{
  background-color: lightgray;
}